<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<!-- 이클립스 +spring이라면 plug in 해서 쓸 수 있지만 에러가 많이남
	그래서 mybatipse -->
	
<configuration>
	<typeAliases>
		<package name="com.mycom.sixclub.service.vo"/>
	</typeAliases>
</configuration>



